<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Lista de atividades - FTT</title>
  </head>
  <body>

    <% if (message != "") {%>
        <%- include('./components/message',{type:type, message:message})%>
    <% } %>

    <header>
        <h1>Agenda Pessoal</h1>
    </header>

    <div class="todo-container">

        <% if (task == null) {%>
            <%- include('./components/form', {titleForm:"Lista de Atividades", action:"create", value:"", idBtn:"addButton", nameBtn:"Adicionar"})%>
        <% } else {%>
            <%- include('./components/form', {titleForm:"Editar atividades", action:`update/${task._id}`, value:task.task, idBtn:"updateButton", nameBtn:"Atualizar"})%>
        <% } %>

    <% tasksList.forEach((task)=>{ %>
    <div id="todo-list">
        <div class="todo">
            <p class="check-<%= task.check %>" id="todoText" ><%= task.task %></p>
            <p class="check-<%= task.check %>" ><%= task.date.toLocaleDateString('pt-BR') %></p>
            <a href="/check/<%= task._id %>"><button><i class="bi bi-check-lg"></i></button></a>
            <a href="/getById/<%= task._id %>/update"><button><i class="bi bi-pencil-square"></i></button></a>
            <a href="/getById/<%= task._id %>/delete"><button><i class="bi bi-trash3-fill"></i></button></a>
        </div>
    </div>
    <% }) %>

    <% if(taskDelete != null) { %>
        <%- include ('./components/modalDel', {task: taskDelete}) %>   
    <%} %>
    </div>
    <script src="script.js"></script>
  </body>
</html>
